.footer {}

.footer__copyright {
  color: #FFFFFF;
  background-color: #128806;
  padding: 6px;
  padding-left: 12px;
  margin-left: -60px;
}

.footer__18plus {
  float: right;
  padding-right: 12px;
}

.footer__bottom {
  display: flex;
  justify-content: center;
  padding-top: 18px;
  padding-bottom: 18px;
}

.footer-menu {
  display: inline-grid;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: repeat(3, auto);
  grid-gap: 6px;
  grid-column-gap: 40px;
  padding: 6px;
}

.footer-menu__item9 {
  grid-column: 1/5;
  display: flex;
  justify-content: center;
  padding-top: 22px;
}
