.modal-window {
  display: none;
  position: fixed;
  z-index: 2020;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(50, 50, 50, 0.9);
}

.modal-window__wrap { padding: 10px; }

.modal-window__shell {
  background-color: #FFF;
  z-index: 3000;
}

.modal-window__close {}

.modal-window_size_big {
  display: block;
  text-align: center;
  overflow-y: scroll;
}

.modal-window_size_big .modal-window__wrap {
  display: inline-block;
}

.modal-window_size_small {
  display: flex;
  justify-content: center;
  align-items: center;
}
