.modal-window {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 20px 60px;
  background-color: rgba(50, 50, 50, 0.9);
  overflow: auto;
}

.modal-window_display_hide { display: none; }

.modal-window_display_show { display: block; }

.modal-window__wrap {
  display: flex;
  background-color: #FFF;
  height: 100%;
}

.modal-window__close {}

.modal-window__img {}
